<section class="catalog" id="catalog">
  <div class="container">
    <div class="catalog-list-wrp">
      <h2 class="catalog-title">Catalog</h2>

      <ul class="catalog-list">
        <li class="catalog-item">
          <div class="list-wrp">
            <img
              class="catalog-images"
              srcset="./img/catalog-img/watch-2x-1.webp 2x"
              src="./img/catalog-img/watch-1.png"
              alt="Tube Watch S42  Black "
            />
            <svg width="24" heigth="24" class="like-svg">
              <use href="./img/icons.svg#icon-heart-catalog"></use>
            </svg>
            <p class="catalog-top-text">
              <span class="top-title">Description</span><br />
              <span class="bottom-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <br />
              <span class="top-title">DETAILS & FEATURESTION</span> <br />
              <span class="bottom-text-no-margin">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel.</span
              >
            </p>
          </div>
          <p class="catalog-img-text">
            Tube Watch S42 Date Steel With Black...<br /><span
              class="catalog-text-span"
              >€395</span
            >
          </p>
        </li>
        <li class="catalog-item">
          <div class="list-wrp">
            <img
              class="catalog-images"
              srcset="./img/catalog-img/watch-2x-2.webp 2x"
              src="./img/catalog-img/watch-2.png"
              alt="Avondale Watch Police "
            />
            <svg width="24" heigth="24" class="like-svg">
              <use href="./img/icons.svg#icon-heart-catalog"></use>
            </svg>
            <p class="catalog-top-text">
              <span class="top-title">Description</span><br />
              <span class="bottom-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <br />
              <span class="top-title">DETAILS & FEATURESTION</span> <br />
              <span class="bottom-text-no-margin">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel.</span
              >
            </p>
          </div>
          <p class="catalog-img-text">
            Avondale Watch Police For Men<br /><span class="catalog-text-span"
              >€800</span
            >
          </p>
        </li>
        <li class="catalog-item">
          <div class="list-wrp">
            <img
              class="catalog-images"
              srcset="./img/catalog-img/watch-2x-3.webp 2x"
              src="./img/catalog-img/watch-3.png"
              alt="Diver watch"
            />
            <svg width="24" heigth="24" class="like-svg">
              <use href="./img/icons.svg#icon-heart-catalog"></use>
            </svg>
            <p class="catalog-top-text">
              <span class="top-title">Description</span><br />
              <span class="bottom-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <br />
              <span class="top-title">DETAILS & FEATURESTION</span> <br />
              <span class="bottom-text-no-margin">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel.</span
              >
            </p>
          </div>
          <p class="catalog-img-text">
            Diver 300M Co-Axial Master Chronomete...<br />
            <span class="catalog-text-span">€600</span>
          </p>
        </li>
        <li class="catalog-item">
          <div class="list-wrp">
            <img
              class="catalog-images"
              srcset="./img/catalog-img/watch-2x-4.webp 2x"
              src="./img/catalog-img/watch-4.png"
              alt="Diver watch  Master Chronometer "
            />
            <svg width="24" heigth="24" class="like-svg">
              <use href="./img/icons.svg#icon-heart-catalog"></use>
            </svg>
            <p class="catalog-top-text">
              <span class="top-title">Description</span><br />
              <span class="bottom-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <br />
              <span class="top-title">DETAILS & FEATURESTION</span> <br />
              <span class="bottom-text-no-margin">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel.</span
              >
            </p>
          </div>
          <p class="catalog-img-text">
            Diver 300M Co-Axial Master Chronometer <br /><span
              class="catalog-text-span"
              >€1400</span
            >
          </p>
        </li>
        <li class="catalog-item">
          <div class="list-wrp">
            <img
              class="catalog-images"
              srcset="./img/catalog-img/watch-2x-5.webp 2x"
              src="./img/catalog-img/watch-5.png"
              alt="Taman Watch By Police "
            />
            <svg width="24" heigth="24" class="like-svg">
              <use href="./img/icons.svg#icon-heart-catalog"></use>
            </svg>
            <p class="catalog-top-text">
              <span class="top-title">Description</span><br />
              <span class="bottom-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <br />
              <span class="top-title">DETAILS & FEATURESTION</span> <br />
              <span class="bottom-text-no-margin">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel.</span
              >
            </p>
          </div>
          <p class="catalog-img-text">
            Taman Watch By Police For Men<br /><span class="catalog-text-span"
              >€500</span
            >
          </p>
        </li>
        <li class="catalog-item">
          <div class="list-wrp">
            <img
              class="catalog-images"
              srcset="./img/catalog-img/watch-2x-6.webp 2x"
              src="./img/catalog-img/watch-6.png"
              alt="Malawi Watch Police "
            />
            <svg width="24" heigth="24" class="like-svg">
              <use href="./img/icons.svg#icon-heart-catalog"></use>
            </svg>
            <p class="catalog-top-text">
              <span class="top-title">Description</span><br />
              <span class="bottom-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <br />
              <span class="top-title">DETAILS & FEATURESTION</span> <br />
              <span class="bottom-text-no-margin">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel.</span
              >
            </p>
          </div>
          <p class="catalog-img-text">
            Malawi Watch Police For Men<br /><span class="catalog-text-span"
              >€555</span
            >
          </p>
        </li>
        <li class="catalog-item">
          <div class="list-wrp">
            <img
              class="catalog-images"
              srcset="./img/catalog-img/watch-2x-7.webp 2x"
              src="./img/catalog-img/watch-7.png"
              alt="Diver 300M Co-Axial "
            />
            <svg width="24" heigth="24" class="like-svg">
              <use href="./img/icons.svg#icon-heart-catalog"></use>
            </svg>
            <p class="catalog-top-text">
              <span class="top-title">Description</span><br />
              <span class="bottom-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <br />
              <span class="top-title">DETAILS & FEATURESTION</span> <br />
              <span class="bottom-text-no-margin">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel.</span
              >
            </p>
          </div>
          <p class="catalog-img-text">
            Diver 300M Co-Axial Master Chronometer <br /><span
              class="catalog-text-span"
              >€1200</span
            >
          </p>
        </li>
        <li class="catalog-item">
          <div class="list-wrp">
            <img
              class="catalog-images"
              srcset="./img/catalog-img/watch-2x-8.webp 2x"
              src="./img/catalog-img/watch-8.png"
              alt="Greenlane Watch By Police "
            />
            <svg width="24" heigth="24" class="like-svg">
              <use href="./img/icons.svg#icon-heart-catalog"></use>
            </svg>
            <p class="catalog-top-text">
              <span class="top-title">Description</span><br />
              <span class="bottom-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <br />
              <span class="top-title">DETAILS & FEATURESTION</span> <br />
              <span class="bottom-text-no-margin">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel.</span
              >
            </p>
          </div>
          <p class="catalog-img-text">
            Greenlane Watch By Police For Men<br /><span
              class="catalog-text-span"
              >€1000</span
            >
          </p>
        </li>
        <li class="catalog-item hidden-wrp">
          <div class="list-wrp">
            <img
              class="catalog-images"
              srcset="./img/catalog-img/watch-2x-9.webp 2x"
              src="./img/catalog-img/watch-9.png"
              alt="Squardrc 5402 Chrono"
            />
            <svg width="24" heigth="24" class="like-svg">
              <use href="./img/icons.svg#icon-heart-catalog"></use>
            </svg>
            <p class="catalog-top-text">
              <span class="top-title">Description</span><br />
              <span class="bottom-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <br />
              <span class="top-title">DETAILS & FEATURESTION</span> <br />
              <span class="bottom-text-no-margin">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel.</span
              >
            </p>
          </div>
          <p class="catalog-img-text">
            Squardrc 5402 Chrono<br /><span class="catalog-text-span"
              >€359</span
            >
          </p>
        </li>
        <li class="catalog-item hidden-wrp">
          <div class="list-wrp">
            <img
              class="catalog-images"
              srcset="./img/catalog-img/watch-2x-10.webp 2x"
              src="./img/catalog-img/watch-10.png"
              alt="Diver  300M "
            />
            <svg width="24" heigth="24" class="like-svg">
              <use href="./img/icons.svg#icon-heart-catalog"></use>
            </svg>
            <p class="catalog-top-text">
              <span class="top-title">Description</span><br />
              <span class="bottom-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <br />
              <span class="top-title">DETAILS & FEATURESTION</span> <br />
              <span class="bottom-text-no-margin">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel.</span
              >
            </p>
          </div>
          <p class="catalog-img-text">
            Diver 300M Co-Axial Master <br /><span class="catalog-text-span"
              >€400</span
            >
          </p>
        </li>
        <li class="catalog-item hidden-wrp">
          <div class="list-wrp">
            <img
              class="catalog-images"
              srcset="./img/catalog-img/watch-2x-11.webp 2x"
              src="./img/catalog-img/watch-11.png"
              alt="Citizen watch silver"
            />
            <svg width="24" heigth="24" class="like-svg">
              <use href="./img/icons.svg#icon-heart-catalog"></use>
            </svg>
            <p class="catalog-top-text">
              <span class="top-title">Description</span><br />
              <span class="bottom-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <br />
              <span class="top-title">DETAILS & FEATURESTION</span> <br />
              <span class="bottom-text-no-margin">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel.</span
              >
            </p>
          </div>
          <p class="catalog-img-text">
            Citizen<br /><span class="catalog-text-span">€519</span>
          </p>
        </li>
        <li class="catalog-item hidden-wrp">
          <div class="list-wrp">
            <img
              class="catalog-images"
              srcset="./img/catalog-img/watch-2x-12.webp 2x"
              src="./img/catalog-img/watch-12.png"
              alt="Armani Exchange watch Black "
            />
            <svg width="24" heigth="24" class="like-svg">
              <use href="./img/icons.svg#icon-heart-catalog"></use>
            </svg>
            <p class="catalog-top-text">
              <span class="top-title">Description</span><br />
              <span class="bottom-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <br />
              <span class="top-title">DETAILS & FEATURESTION</span> <br />
              <span class="bottom-text-no-margin">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel.</span
              >
            </p>
          </div>
          <p class="catalog-img-text">
            Armani Exchange<br /><span class="catalog-text-span">400</span>
          </p>
        </li>
      </ul>
      <div class="btn-wrp">
        <button class="catalog-btn" data-modal-open type="button">
          BUY NOW
        </button>
      </div>
    </div>
  </div>
</section>
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button data-modal-close type="button" class="model-close-btn">
      <svg width="20" height="20" class="model-close-svg">
        <use href="./img/icons.svg#icon-x-mob-modal"></use>
      </svg>
    </button>
    <div class="flex-wrp">
      <div class="modal-watch">
        <img
          class="catalog-images-mod"
          srcset="./img/catalog-img/watch-2x-1.webp 2x"
          src="./img/catalog-img/watch-1.png"
          alt="Tube Watch S42  Black "
        />
        <p class="catalog-img-text">
          Tube Watch S42 Date Steel With Black...<br /><span
            class="catalog-text-span"
            >€395</span
          >
        </p>
      </div>
      <form class="model-form">
        <div class="input-wrap">
          <label for="mod-input-name" class="leble-modal">Full name</label>
          <div class="icon-position">
            <input
              class="modal-input"
              required
              type="text"
              id="mod-input-name"
              name="user-name"
              placeholder="Enter your full name"
            />
          </div>
        </div>
        <div class="input-wrap">
          <label for="mod-input-email" class="leble-modal">Email</label>
          <div class="icon-position">
            <input
              class="modal-input"
              required
              type="text"
              id="mod-input-email"
              name="user-name"
              placeholder="Enter your email"
            />
          </div>
        </div>

        <div class="input-wrap">
          <label for="mod-input-tel" class="leble-modal">Card number</label>
          <div class="icon-position">
            <input
              class="modal-input"
              required
              type="text"
              id="mod-input-tel"
              name="user-name"
              placeholder="Enter card"
            />
          </div>
        </div>
        <div class="input-wrap-area">
          <label for="mod-input-text" class="leble-modal">Comment</label>
          <textarea
            name="Enter your text"
            id="mod-input-text"
            placeholder="Enter your text"
            class="textarea-model"
          ></textarea>
        </div>
        <button type="submit" class="model-form-button">SUBMIT</button>
        <p class="model-bottom-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>

<script src="../js/modal.js"></script>
