<section>
    <div class="container">
        <h2 class="catalog-title">Catalog</h2>
  
      <ul class="catalog-list">
          <li>
              <img src="../img/catalog-img/watch-1.png" alt="" width="275" height="274">
                  <p><span></span></p>
              </img>
          </li>
          <li>
              <img src="../img/catalog-img/watch-2.png" alt="" width="275" height="274">
                  <p><span></span></p>
              </img>
          </li>
          <li>
              <img src="../img/catalog-img/watch-3.png" alt="" width="275" height="274">
                  <p><span></span></p>
              </img>
          </li>
          <li>
              <img src="../img/catalog-img/watch-4.png" alt="" width="275" height="274">
                  <p><span></span></p>
              </img>
          </li>
          <li>
              <img src="../img/catalog-img/watch-5.png" alt="" width="275" height="274">
                  <p><span></span></p>
              </img>
          </li>
          <li>
              <img src="../img/catalog-img/watch-6.png" alt="" width="275" height="274">
                  <p><span></span></p>
              </img>
          </li>
          <li>
              <img src="../img/catalog-img/watch-7.png" alt="" width="275" height="274">
                  <p><span></span></p>
              </img>
          </li>
          <li>
              <img src="../img/catalog-img/watch-8.png" alt="" width="275" height="274">
                  <p><span></span></p>
              </img>
          </li>
          <li>
              <img src="../img/catalog-img/watch-9.jpg" alt="" width="275" height="274">
                  <p><span></span></p>
              </img>
          </li>
          <li>
              <img src="../img/catalog-img/watch-10.png" alt="" width="275" height="274">
                  <p><span></span></p>
              </img>
          </li>
          <li>
              <img src="../img/catalog-img/watch-11.png" alt="" width="275" height="274">
                  <p><span></span></p>
              </img>
          </li>
          <li>
              <img src="../img/catalog-img/watch-12.png" alt="" width="275" height="274">
                  <p><span></span></p>
              </img>
          </li>
      </ul>
      </div>
</section>