<section class="section-footer">
  <div class="div-footer container">
    <div class="div-1-footer">
      <a href=".index.html">
        <img
          class="logo-footer"
          src="../img/logo-footer.png"
          width="40"
          height="40"
        />
      </a>

      <a href="tel:+380684439426" class="tel-footer">+380 (68) 443-94-26</a>

      <address class="address-footer">
        1678 S. Pioneer Road Salt Lake City UT 84104
      </address>
    </div>

    <div class="div-2-footer">
      <ul>
        <li><a href="">About us</a></li>
        <li><a href="">Catalog</a></li>
        <li><a href="">Sale</a></li>
      </ul>
      <div class="div-3-footer">
        <ul class="list-soc-icons">
          <li>
            <svg class="social-icons" width="24" height="24">
              <use href="../img/icons.svg#icon-facebook-mob"></use>
            </svg>
          </li>
          <li>
            <svg class="social-icons" width="24" height="24">
              <use href="../img/icons.svg#icon-instagram-mob"></use>
            </svg>
          </li>
          <li>
            <svg class="social-icons" width="24" height="24">
              <use href="../img/icons.svg#icon-youtube-mob"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <ul class="bottom-footer-text">
        <li>&copy;2022 The Watch Spot. All rights reserved.</li>
        <li>Privacy Policy Terms of Service</li>
      </ul>
    </div>
  </div>
</section>
