<footer class="footer__cont">
  <div class="wrap__ftr container">
    <div class="three-section">
      <!-----------DIV-1-------->
      <div class="wrap__one">
        <a href="./index.html">
          <img
            alt="logo"
            class="logo-footer"
            srcset="./img/logo-footer@2x.png 2x"
            src="./img/logo-footer.png"
            width="40"
            height="40"
          />
        </a>

        <a href="tel:+380684439426" class="tel-footer">+380 (68) 443-94-26</a>

        <address class="addr__footer">
          <a
            href="https://goo.gl/maps/TLP5Nucy1vA4JWKj8"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </address>
      </div>
      <!-----------DIV-2-------->
      <div class="wrap__two">
        <ul>
          <li><a href="#about">About us</a></li>
          <li><a href="#catalog">Catalog</a></li>
          <li><a href="#sale">Sale</a></li>
        </ul>
      </div>
      <!-----------DIV-3-------->
      <div class="wrap__three">
        <ul class="list-soc-icons">
          <li>
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="nofollow noopener noreferrer"
            >
              <svg class="social-icons" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook-mob"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="nofollow noopener noreferrer"
            >
              <svg class="social-icons" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram-mob"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/"
              target="_blank"
              rel="nofollow noopener noreferrer"
            >
              <svg class="social-icons" width="24" height="24">
                <use href="./img/icons.svg#icon-youtube-mob"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-----------DIV-4-------->
    <div class="wrap__four">
      <ul class="bottom-footer-text">
        <li><p>&copy;2022 The Watch Spot. All rights reserved.</p></li>
        <li>
          <div>
            <a href="">Privacy Policy</a>
            <a href="">Terms of Service</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
