<header class="top-header">
  <div class="header-container container">
    <a href="../index.html" class="header-logo-link">
      <div class="logo-wrap">
        <picture>
          <source media="(min-width:768px)" srcset="./img/hero/logo-tab.png" />
          <source media="(max-width:767px)" srcset="./img/hero/logo.png" />
          <img src="./img/hero/logo(1)(1)(1).png" alt="logotype" />
        </picture>
        <p class="logo">thewatchspot</p>
      </div>
    </a>
    <nav class="main-nav">
      <ul class="main-nav-menu">
        <li class="main-nav-item">
          <a class="main-nav-link" href="#about">About us</a>
        </li>
        <li class="main-nav-item">
          <a class="main-nav-link" href="#catalog">Catalog</a>
        </li>
        <li class="main-nav-item">
          <a class="main-nav-link" href="#sale">Sale</a>
        </li>
      </ul>
    </nav>
    <a class="contact-link" href="tel:+380(68)443-94-26">+380 (68) 443-94-26</a>
    <button class="mobile-menu-btn" data-menu-open type="button">
      <svg class="mobile-menu-pic" width="24" height="24">
        <use href="./img/icons.svg#icon-mob-menu"></use>
      </svg>
    </button>
  </div>
</header>
