<header class="top-header">
  <div class="header-container container">
    <div class="logo-wrap">
      <picture>
        <source media="(min-width:768px)" srcset="../img/hero/logo-tab.png">
        <source media="(max-width:767px)" srcset="../img/hero/logo.png">
        <img src="../img/hero/logo(1)(1)(1).png" alt="logotype">
      </picture>
      
      <!-- <picture>
      <source media="(min-width:768px)" 
      srcset="../img/hero/logo-tab.png 1x,
              ../img/hero/logo-tab-2x.png 2x"
      width="19"
      height="19">
      <source media="(max-width:767px)" 
      srcset="../img/hero/logo.png 1x,
              ../img/hero/logo-2x.png 2x">
      <img src="../img/hero/logo(1)(1).png" 
      alt="logotype"
      width="14"
      height="14">
      </picture> -->
      <!-- <svg class="mobile-logo" width="42" height="42">
        <use href="../img/icons.svg#icon-logo-mob"></use>
      </svg> -->
      <p class="logo">thewatchspot</p>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-menu">
        <li class="main-nav-item"><a class="main-nav-link" href="#about">About us</a></li>
        <li class="main-nav-item"><a class="main-nav-link" href="#catalog">Catalog</a></li>
        <li class="main-nav-item"><a class="main-nav-link" href="#sale">Sale</a></li>  
      </ul>
    </nav>
    <a class="contact-link" href="tel:+380(68)443-94-26">+380 (68) 443-94-26</a>
    <button class="mobile-menu-btn" data-menu-open type="button">
      <svg class="mobile-menu-pic" width="24" height="24">
        <use href="../img/icons.svg#icon-mob-menu"></use>
      </svg>
    </button>
  </div>
  <!-- <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
  </nav> -->
</header>

