<section class="new-watches">

        <h1>New watches</h1>

        <h2>Green And Bronze—The Match Made In Heaven</h2>

        <ul>
            <li>
                <img srcset="../img/new-watches-1.jpg 1x, ../img/new-watches-1-2x.jpg 2x"
                src="../img/new-watches-1.jpg" 
                alt="New Watches image one">
            </li>
            <li>
                <img srcset="../img/new-watches-2.jpg 1x, ../img/new-watches-2-2x.jpg 2x" 
                src="../img/new-watches-2.jpg" alt="New Watches image two">
            </li>
        </ul>

</section>