<section class="sale">  
    <div class="container">
        <h2 class="section-title">Sale</h2> 
        <div class="sale-sections">
            <div class="sale-section-1">
                <div class="sale-images">
                    <ul class="sale-img-list">
                        <li class="sale-img-items">
                            <picture>
                                <source srcset="../img/sale/image 69-mob-min.jpg 1x, ../img/sale/image 69-mob-2x-min.jpg 2x" 
                                    media="(min-width: 375px)">
                            </picture>
                            <picture>
                                <source srcset="../img/sale/image 69-tab-min.jpg 1x, ../img/sale/image 69-tab-2x-min.jpg 2x"
                                    media="(min-width: 768px)">   
                            </picture>
                            <picture>
                                <source srcset="../img/sale/image 67-min.jpg 1x, ../img/sale/image 67-2x-min.jpg 2x"
                                    media="(min-width: 1440px)">
                            </picture>
                            <img src="../img/sale/image 67-2x-min.jpg" alt="clock-1" width="80" height="80">
                        </li>
                        <li class="sale-img-items">
                            <picture>
                                <source srcset="../img/sale/image 68-mob-min.jpg 1x, ../img/sale/image 68-mob-2x-min.jpg 2x" 
                                    media="(min-width: 375px)">
                            </picture>
                            <picture>
                                <source srcset="../img/sale/image 64-tab-min.jpg 1x, ../img/sale/image 64-tab-2x-min.jpg 2x"
                                    media="(min-width: 768px)">
                            </picture>
                            <picture>
                                <source srcset="../img/sale/image 64-min.jpg 1x, ../img/sale/image 64-2x-min.jpg 2x" 
                                    media="(min-width: 1440px)">
                            </picture>
                            <img src="../img/sale/image 68-mob-2x-min.jpg" alt="clock-2" width="80" height="80">
                        </li>
                        <li class="sale-img-items">
                            <picture>
                                <source srcset="../img/sale/image 65-mob-min.jpg 1x, ../img/sale/image 65-mob-2x-min.jpg 2x" 
                                    media="(min-width: 375px)">
                            </picture>
                            <picture>
                                <source srcset="../img/sale/image 65-tab-min.jpg 1x, ../img/sale/image 65-tab-2x-min.jpg 2x"
                                    media="(min-width: 768px)">
                            </picture>
                            <picture>
                                <source srcset="../img/sale/image 65-min.jpg 1x, ../img/sale/image 65-2x-min.jpg 2x"
                                    media="(min-width: 1440px)">
                            </picture>
                            <img src="../img/sale/image 65-mob-2x-min.jpg" alt="clock-3" width="80" height="80">
                        </li>
                        <li class="sale-img-items">
                            <picture>
                                <source srcset="../img/sale/image 66-mob-min.jpg 1x, ../img/sale/image 66-mob-2x-min.jpg 2x" 
                                    media="(min-width: 375px)">
                            </picture>
                            <picture>
                                <source srcset="../img/sale/image 68-tab-min.jpg 1x, ../img/sale/image 68-tab-2x-min.jpg 2x"
                                    media="(min-width: 768px)">
                            </picture>
                            <picture>
                                <source srcset="../img/sale/image 66-min.jpg 1x, ../img/sale/image 66-2x-min.jpg 2x" 
                                    media="(min-width: 1440px)">
                            </picture>
                            <img src="../img/sale/image 66-mob-2x-min.jpg" alt="clock-4" width="80" height="80">
                        </li>
                    </ul>
                    <div class="sale-image-large">
                        <picture>
                            <source srcset="../img/sale/image 67-mob-min.jpg 1x, ../img/sale/image 67-mob-2x-min.jpg 2x" 
                                media="(min-width: 375px)">
                        </picture>
                        <picture>
                            <source srcset="../img/sale/image 67-tab-min.jpg 1x, ../img/sale/image 67-tab-2x-min.jpg 2x"
                                media="(min-width: 768px)">
                        </picture>
                        <picture>
                            <source srcset="../img/sale/image-min.jpg 1x, ../img/sale/image-2x-min.jpg 2x" 
                                media="(min-width: 1440px)">
                        </picture>
                        <img src="../img/sale/image 67-mob-2x-min.jpg" alt="clock" width="235" height="350">
                    </div>   
                </div>
            </div>
            
            <div class="sale-section-2">
                <div class="sale-classy-s">
                    <h3 class="sale-subtitle">Greenlane Watch By Police For MenHT</h3>
                    <div class="sale-classy-s-1">
                        <h4 class="sale-text">Product tag: PEWJK2227003</h4>
                        <div class="sale-prices">
                            <p class="sale-price">€700</p>
                            <p class="sale-price-crossed">€1000</p>
                        </div>
                    </div>
                </div>
                <div class="sale-section-3">
                    <div class="sale-info">
                        <div class="sale-info-1">
                            <h4 class="sale-info-subtitle">DESCRIPTION</h4>
                            <ul class="sale-svg-list">
                                <li>
                                    <svg class="sale-svg-minus" width="16" height="2">
                                        <use href="../img/sale/minus.svg#icon-Vector-12"></use>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <p class="sale-info-text">Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile multifunction design
                            that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The timepiece
                            exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>
                        </div>
                    </div>
                    <div class="sale-info">
                        <div class="sale-info-1">
                            <h4 class="sale-info-subtitle">DETAILS & FEATURESTION</h4>
                            <ul>
                                <li>
                                    <svg width="16" height="2">
                                        <use href="../img/sale/minus.svg#icon-Vector-12"></use>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                        <div>
                           <p class="sale-info-text">Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel</p> 
                        </div>

                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</section>