
@media screen and (min-width: 320px) {
    .about {
    max-width: 375px; 
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
   }
   
   .font-about{
    font-family: 'Epilogue';
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #1E2827;
    margin-bottom: 40px;
   }
   
   .font-about-text{
    font-family: 'Epilogue';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;
   }

   .mardgin{
    margin-bottom: 20px;
   }

   .img-item{
    margin-top: 40px;
    max-width: 335px;
    max-height: 365px;
   }

}

@media screen and (min-width: 768px) {


.about {
    max-width: 768px; 
}

.font-about{
margin-right: 40px;
white-space: nowrap;
}



.about-text{
    display: flex;
    justify-content: center;
}

.img-item{
    min-width: 704px;
    max-height: 465px;
   }

.mardgin{
    padding-right: 20px;
    margin-bottom: 0px;
   }


}

@media screen and (min-width: 1280px) {

.about {
    max-width: 1280px; 
   }
   
.font-about{
    margin-right: 110px;
    white-space: nowrap;
    }

.mardgin{
    padding-right: 40px;
    margin-bottom: 0px;
    }

.img-item{
    margin-top: 40px;
    min-width: 892px;
    max-height: 500px;
    float: right;
       }
}