.footer__cont .container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__cont {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--dark-green-bgc-title);
}
.three-section {
      width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}
.wrap__one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logo-footer-link {
  margin-bottom: 40px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tel-footer {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-footer:hover, .tel-footer:focus {
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 5px 0;
}
.addr_footer {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.addr_footer:hover, .addr_footer:focus {
  border: 1px solid var(--white);
    border-radius: 8px;
    padding: 0 2px;
}
.wrap__two {
  display: flex;
  align-items: flex-start;
}
.wrap__two ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.footer-link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover, .footer-link:focus {
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 5px 5px;
}

.wrap__three {
  display: flex;
  align-items: flex-start;
}
.wrap__four ul li span:last-child {
  margin-left: 10px;
}

/**------div-1------*/

.tel-footer {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--white);
}

address {
  max-width: 141px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: var(--white);
}

/**------div-2------*/

.wrap__two ul li {
  text-transform: uppercase;
  color: var(--white);
}
/**------div-3------*/

.list-soc-icons {
  display: flex;
  gap: 14px;
}
.list-soc-icons li a {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 250ms;
}

.social-icons {
  fill: var(--white);
}

.list-soc-icons li a:is(:hover, :focus) {
  border-color: var(--footer-bottom-text);
}

/**------div-4------*/

.bottom-footer-text {
  width: 100%;
}
.bottom-footer-text li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(14 / 12);
  letter-spacing: -0.02em;
  color: var(--footer-bottom-text);
}

.bottom-footer-text li:first-child {
  margin-top: 80px;
  margin-bottom: 14px;
}

@media screen and (max-width: 254px) {
  .list-soc-icons li {
    margin-top: 20px;
  }
}

@media screen and (min-width: 375px) {
  .footer__cont .container {
    padding: 0 20px 0 20px;
    min-width: 375px;
    margin: 0 auto;
  }
  .list-soc-icons {
    gap: 14px;
  }
  .bottom-footer-text div {
    display: flex;
    gap: 14px;
  }
}

@media screen and (min-width: 768px) {
  .footer__cont .container {
    padding: 0 32px 0 32px;
    min-width: 768px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .three-section {
    flex-wrap: nowrap;
  }
  address {
    margin-bottom: 0;
  }
  .logo-footer {
    width: 50px;
    height: 50px;
  }
  .tel-footer,
  .addr__footer {
    font-size: 18px;
    line-height: calc(24 / 18);
    color: var(--white);
  }
  .wrap__two ul li {
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: -0.02em;
    color: var(--white);
  }
  .wrap__two ul {
    gap: 18px;
  }
  .list-soc-icons {
    gap: 16px;
  }
  .footer__cont {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .bottom-footer-text {
    display: flex;
    margin-top: 152px;
    gap: 149px;
    width: 100%;
    justify-content: space-between;
  }
  .bottom-footer-text li {
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: var(--footer-bottom-text);
  }
  .bottom-footer-text li:first-child {
    margin-bottom: 0;
    margin-top: 0;
  }
  .bottom-footer-text li:last-child {
    display: flex;
  }
  .wrap__four {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .list-soc-icons li {
    width: 44px;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__cont .container {
    min-width: 1280px;
    padding: 0 52px 0 52px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .bottom-footer-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .bottom-footer-text li:last-child {
    display: flex;
  }
  .wrap__four {
    display: flex;
    width: 1280px;
  }
}
