.top-header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 2;
}

.header-container {
    width: 375px;
    display: flex;
    align-items: center;
    padding: 29px 20px;
}
.header-logo-link{
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo-link:hover, .header-logo-link:focus {
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 5px 1px;
}
.logo-wrap {
    display: flex;
    align-items: center;
}
.logo {
    margin-left: 4px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--white);
}

.mobile-logo {
    fill: #FFFFFF;
}


.main-nav-menu {
    display: none;
}
.mobile-modal>.logo-wrap {
    margin-bottom: 200px;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.mobile-nav-link {
    font-size: 14px;
    line-height: 1.28px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--white);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-link:hover, .mobile-nav-link:focus {
            border: 1px solid var(--white);
            border-radius: 8px;
            padding: 5px 1px;
}

.contact-us {
    display: none;
}

.contact-link {
    display: none;
}

.mobile-menu-btn {
    margin-left: auto;
    border: none;
    background-color: var(--black-bgc-text);
}

.mobile-menu-pic {
    fill: #FFFFFF;
}


.mobile-modal {
    position: absolute;
    overflow: visible;
    top: 0%;
    left: 0%;
    z-index: 2;
    transform: translateX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100vh;
    background-color: var(--dark-green-bgc-title);
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 29px 20px;
}

.appear {
    transform: translateX(100%);

}

.mobile-close-button {
    position: absolute;
    top: 29px;
    right: 20px;
    border: none;
    background-color: var(--dark-green-bgc-title);
}

.close-button {
    stroke: #FFFFFF;
}

@media screen and (min-width: 375px) {

    .header .container {
        width: 375px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
    }
}


@media screen and (min-width: 768px) {

    .top-header .container {
        width: 768px;
    }

    .logo {
        font-size: 15px;
        line-height: 15px;
    }

    .main-nav-menu {
        margin-left: 80px;
        display: flex;
        gap: 40px;
    }
    .main-nav-link {
        display: flex;
        align-items: center;
        height: 30px;
        font-size: 9px;
        line-height: 1.33px;
        text-transform: uppercase;
        color: var(--white);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .main-nav-link:hover,
    .main-nav-link:focus {
        border: 1px solid var(--white);
        border-radius: 8px;
        padding: 5px 5px;
    }

    .contact-link {
        text-decoration: none;
        display: flex;
        width: 159px;
        height: 48px;
        margin-left: auto;
        padding: 18px 34px;
        background-color: var(--dark-green-bgc-title);
        border: none;
        border-radius: 8px;
        font-size: 9px;
        line-height: 1.33;
        color: var(--white);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contact-link:hover, .contact-link:focus {
        border: 1px solid var(--white);
    }

    .mobile-menu-btn {
        display: none;
    }
}


@media screen and (min-width: 1280px) {

    .top-header .container {
        width: 1280px;
        padding-left: 52px;
        padding-right: 52px;
    }
}
