.hero {

  position: relative;
  padding-top: 122px;
  padding-bottom: 40px;
  max-width: 100%;
  background-color: var(--black-bgc-text);
  overflow: hidden;
}
.hero-text-wrap1 {
  display: none;
}

.main-header {
  margin-bottom: 60px;
  font-size: 38px;
  line-height: 1.05;
  letter-spacing: -0.04em;
  color: var(--white);

}

.swiper-wrapper {
  margin-bottom: 20px;
}

.swiper {
  max-width: 266px;
  margin-bottom: 40px;
}

.swiper,
.swiper-container {
  margin-left: 0;
}


.swiper-buttons {
  max-width: 266px;
  display: flex;
  gap: 12px;

}

.button-prev,
.button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.button-prev:hover,
.button-next:hover {
  border-color: var(--white);
  color: var(--white);
}

.button-prev:focus,
.button-next:focus {
  border-color: var(--white);
  color: var(--white);
}

.chevron-icon {
  stroke: currentColor;
}

.swap-numbers-wrap {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
  gap: 44px;
}

.swap-numbers-wrap>.swipe-numbers:nth-last-child(2n):after {
  position: absolute;
  margin-top: 7px;
  margin-left: 6px;
  content: "";
  width: 32px;
  height: 1px;
  background-color: var(--white);
}

.swipe-numbers {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--white);
}

.hero-text-wrap {
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
}

.hero-text {
  width: 248px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--white);
}

.hero-picture {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 375px) {

  .hero {
    margin: 0 auto;
    max-width: 375px;
  }
}


  @media screen and (min-width: 768px) {

    .hero {
      padding-top: 148px;
      margin: 0 auto;
      max-width: 768px;
    }

    .main-header {
      margin-bottom: 60px;
      font-size: 60px;
      line-height: 1.03;
      letter-spacing: -0.04em;
      color: var(--white);
    }

    .swiper {
      max-width: 436px;

    }

    .swiper,
    .swiper-container {
      margin-right: 20px;
    }

    .swiper-text-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
    }

    .swiper-buttons {
      max-width: 436px;
    }

    .button-prev,
    .button-next {
      width: 40px;
      height: 40px;
    }

    .chevron-icon {
      width: 24px;
      height: 24px;
    }
    
    
  }

    @media screen and (min-width: 1158px) {
      .hero {
        max-width: 1440px;
        display: flex;
        justify-content: center;
      }

      .main-header-wrap {
        display: flex;
      }

      .main-header {
        width: 750px;
        font-size: 60px;
      }

      .hero-text-wrap1{
        margin-left: auto;
        display: flex;
        justify-content: end;

      }

      .hero-text {
        width: 282px;
      }
            
      .hero-text-wrap {
        display: none;
      }

      .swiper {
        margin-bottom: 0;
      }

      .swiper-text-wrap {
        margin-bottom: 0;
      }
            
      .pic-text-wrap {
        display: flex;
        align-items: end;
      }

      .hero-pic-wrap {
        margin-left: 64px;
      }

    }