/* original setup for mobile 320px */

.new-watches {
    
    padding-top: 40px;
    padding-bottom: 40px;

}

.new-watches .container {
    
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
}

.new-watches h2.section-title {
    font-weight: 300;
    font-size:12px;
    line-height: 1.17;
    letter-spacing: 0.06em;
    color: var(--new-watches-top-text);
    
    margin-bottom: 8px;
}

.new-watches h3.section-title {
    margin-bottom: 40px;
}

.new-watches-imgs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* mobile breakpoint - 375px */

@media screen and (min-width: 375px) and (max-width:767px) {

    .new-watches .container {
        max-width: 375px;
        padding-left: 20px;
        padding-right: 20px;

    }

}

@media screen and (max-width:767px) {
    
    .new-watches h3.section-title {
        font-weight: 600;
        font-size:32px;
        line-height: 1.25;
        letter-spacing: -0.02em; 
    }

}

/* tablet breakpoint - 768px */


@media screen and (min-width: 768px) and (max-width:1279px) {

    .new-watches {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .new-watches .container {
        padding-left: 32px;
        padding-right: 32px;
        max-width: 768px;
    }

}

@media screen and (min-width: 768px) {

    .new-watches h3.section-title {
        max-width: 448px;
    }

    .new-watches-imgs {
        flex-direction: row;
    }

}


/* Desktop breakpoint - 1280px */


@media screen and (min-width: 1280px) {

    .new-watches {
        padding-top: 80px;
        padding-bottom: 80px;

    }

    .new-watches .container {
        padding-left: 132px;
        padding-right: 132px;
        max-width: 1440px;
    }

    .new-watches h3.section-title {
        margin-bottom: 80px;
    }

    .new-watches-imgs { 
        gap: 24px;
    }
}